//- Text for widgets group
-
	sidebar_widgets = {
		en : {
			search : {
				title : 'Search',
				placeholder : 'Search for...',
				button : 'Go',
			}
		},
		ru : {
			search : {
				title : 'Поиск',
				placeholder : 'Искать...',
				button : 'Найти',
			}
		}
	}
//- Text for widgets group END